p {
    text-align:center;
    color:black;
    font:22;
}








.recipes {
    float: auto;
    width: auto;
    height: auto;
}


        .button-chicken {
            float: auto;            
            width: auto;
            height: auto;
            color: rgb(17, 0, 255);

}

        .button-beef {
            float: auto;
            width: auto;
            height: auto;
            color: red;
}

        .button-soup {
            float: auto;
            width: auto;
            height: auto;
            color: red;
}

.item-description {
    float: auto;
    width: auto;
    height: auto;
    color: red;
}

.recipe-steps-soup {
    float: auto;
    width: auto;
    height: auto;
    color: purple;
}

.recipe-steps-chicken {
    float: auto;
    width: auto;
    height: auto;
    color: blue;
}

.recipe-steps-beef {
    float: auto;
    width: auto;
    height: auto;
    color: red;
}