.recipes {
    float: auto;
    width: auto;
    height: auto;
}


        .button-chicken {
            float: auto;
            width: auto;
            height: auto;
            color: red;

}

        .button-beef {
            float: auto;
            width: auto;
            height: auto;
            color: red;
}

        .button-soup {
            float: auto;
            width: auto;
            height: auto;
            color: red;
}